$colors: (
    secondary:#6575c2,
   primary: #ffffff,
   danger: #c82333,
   accent: #875ce6
);


$desktop:840px;

@function color($color-name) {
    @return map-get($colors, $color-name)
};
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    };
};