




 @import 'col.scss';
 @import 'templates.scss';
@import 'fonts.scss';


  
html,body {
    box-sizing: border-box;
    font-family: 'Poppins-Regular',sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height:100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

.content {
    width:100%;
    height:100%;
}
.homeBody{

    text-align:center;
      @include linear-gradient(color(secondary),color(accent)); //color(secondary);

    .logo-place {
        display:block;
        p{
            font-size:1.05em;
            color: color(primary);
            @include desktop {
                
            }
        }
        @include desktop{
        width:60%;
        margin:0 auto
    }
    }

    .form-reg-div{
        padding:20px;
        justify-content:center;
        text-align:center;
        margin:30px auto;
        form {
            display:block;
            width:100%;
            color: white;
            margin: 0 auto;
            font-size:1em;
            .err{
                width: 100%;
                padding: 20px;
                color: color(danger);
                border-bottom: 1px solid darken(color(danger),30%)
                
            }
            background:inherit;
            @include desktop {
                width:70%;
                
                
            }
            
button {
    color: color(primary)
}
        input,select {
            margin:10px;
            width:100%;
            padding:20px 10px 2px 10px;
            border-bottom: 1px solid color(primary);
            border-top:none;
            border-left:none;
            border-right:none;
            background:inherit;
            transition: all 0.5s ease-in-out;
            color: white;
        }
        input:focus, select:focus {
            color: white;
            outline:none;
            border-bottom-color: darken(color(primary),50%)

        }
        

    }
   
}

}

option {
    padding:20px;
}
img{
    width:150px;
    @include desktop {
        width:200px;
    }
}

.h1.bold{
    color: color(primary);
}

.userBody{
    text-align:center;
    background: lighten(color(secondary),  40%);
};

header {
    width: 100%; 
    padding:20px;
    text-align:center;
      @include linear-gradient(color(secondary),color(accent)); 

      color: color(primary);

}

#hobby-form{
    padding:10px;
    margin-top:30px;

    input, select{
        margin:10px;
        width:100%;
        padding:20px 10px 2px 10px;
        border-bottom: 1px solid darken(color(secondary),20%);
        border-top:none;
        border-left:none;
        border-right:none;
        background:inherit;
        transition: all 0.5s ease-in-out;
        color: #000;
    };
    
     button {
        color: darken(color(secondary),  40%);
    }
}
#logout{
    color: color(primary)
}