@mixin rounded($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    }
    @mixin shadow($x, $y, $blur, $color) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow: $x $y $blur $color;
    box-shadow: $x $y $blur $color;
}
@mixin shadow-inset($x, $y, $blur, $color) {
-webkit-box-shadow: inset $x $y $blur $color;
-moz-box-shadow: inset $x $y $blur $color;
box-shadow: inset $x $y $blur $color;
}
@mixin transition($property) {
-webkit-transition: $property .2s ease;
-moz-transition: $property .2s ease;
-o-transition: $property .2s ease;
transition: $property .2s ease;
}
@mixin box-sizing {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
@mixin linear-gradient($from, $to) {
/* Fallback for sad browsers */
background-color: $to;
/* Mozilla Firefox */
background:-moz-linear-gradient($from, $to);
/* Opera */
background:-o-linear-gradient($from, $to);
/* WebKit (Chrome 11+) */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0, $from), colorstop(1, $to));
/* WebKit (Safari 5.1+, Chrome 10+) */
background: -webkit-linear-gradient($from, $to);
/* IE10 */
background: -ms-linear-gradient($from, $to);
/* W3C */
background: linear-gradient($from, $to);
}